<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.likai.datebase.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.likai.datebase.model.User">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="createBy" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="createById" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="deleteStatus" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="lastModifyBy" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="lastModifyById" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="lastModifyTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="version" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="accountBalance" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="areaId" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="cardNo" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cityId" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="headPhotoPath" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="mobile" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="nickName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="qq" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="seqNo" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="trueName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="userName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="userType" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="innerUser" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="expirDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="recommend" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="vipLevel" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="weixin" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="weixinCodePath" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="weixinLogoPath" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="birthday" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sex" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="provinceId" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="yaoqingUserId" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="weixinOpenId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remark" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from yyg_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.likai.datebase.model.User">
    insert into yyg_user (id, createBy, createById, 
      createTime, deleteStatus, lastModifyBy, 
      lastModifyById, lastModifyTime, version, 
      accountBalance, address, areaId, 
      cardNo, cityId, email, 
      headPhotoPath, mobile, nickName, 
      password, qq, seqNo, 
      trueName, userName, userType, 
      innerUser, expirDate, recommend, 
      vipLevel, weixin, weixinCodePath, 
      weixinLogoPath, birthday, sex, 
      provinceId, yaoqingUserId, weixinOpenId, 
      remark)
    values (#{id,jdbcType=BIGINT}, #{createby,jdbcType=VARCHAR}, #{createbyid,jdbcType=BIGINT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{deletestatus,jdbcType=BIT}, #{lastmodifyby,jdbcType=VARCHAR}, 
      #{lastmodifybyid,jdbcType=BIGINT}, #{lastmodifytime,jdbcType=TIMESTAMP}, #{version,jdbcType=BIGINT}, 
      #{accountbalance,jdbcType=DECIMAL}, #{address,jdbcType=VARCHAR}, #{areaid,jdbcType=BIGINT}, 
      #{cardno,jdbcType=VARCHAR}, #{cityid,jdbcType=BIGINT}, #{email,jdbcType=VARCHAR}, 
      #{headphotopath,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{seqno,jdbcType=BIGINT}, 
      #{truename,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{usertype,jdbcType=INTEGER}, 
      #{inneruser,jdbcType=BIT}, #{expirdate,jdbcType=TIMESTAMP}, #{recommend,jdbcType=BIT}, 
      #{viplevel,jdbcType=BIGINT}, #{weixin,jdbcType=VARCHAR}, #{weixincodepath,jdbcType=VARCHAR}, 
      #{weixinlogopath,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{provinceid,jdbcType=BIGINT}, #{yaoqinguserid,jdbcType=BIGINT}, #{weixinopenid,jdbcType=VARCHAR}, 
      #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.likai.datebase.model.User">
    update yyg_user
    set createBy = #{createby,jdbcType=VARCHAR},
      createById = #{createbyid,jdbcType=BIGINT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      lastModifyBy = #{lastmodifyby,jdbcType=VARCHAR},
      lastModifyById = #{lastmodifybyid,jdbcType=BIGINT},
      lastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      accountBalance = #{accountbalance,jdbcType=DECIMAL},
      address = #{address,jdbcType=VARCHAR},
      areaId = #{areaid,jdbcType=BIGINT},
      cardNo = #{cardno,jdbcType=VARCHAR},
      cityId = #{cityid,jdbcType=BIGINT},
      email = #{email,jdbcType=VARCHAR},
      headPhotoPath = #{headphotopath,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      nickName = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      seqNo = #{seqno,jdbcType=BIGINT},
      trueName = #{truename,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      userType = #{usertype,jdbcType=INTEGER},
      innerUser = #{inneruser,jdbcType=BIT},
      expirDate = #{expirdate,jdbcType=TIMESTAMP},
      recommend = #{recommend,jdbcType=BIT},
      vipLevel = #{viplevel,jdbcType=BIGINT},
      weixin = #{weixin,jdbcType=VARCHAR},
      weixinCodePath = #{weixincodepath,jdbcType=VARCHAR},
      weixinLogoPath = #{weixinlogopath,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      provinceId = #{provinceid,jdbcType=BIGINT},
      yaoqingUserId = #{yaoqinguserid,jdbcType=BIGINT},
      weixinOpenId = #{weixinopenid,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, createBy, createById, createTime, deleteStatus, lastModifyBy, lastModifyById, 
    lastModifyTime, version, accountBalance, address, areaId, cardNo, cityId, email, 
    headPhotoPath, mobile, nickName, password, qq, seqNo, trueName, userName, userType, 
    innerUser, expirDate, recommend, vipLevel, weixin, weixinCodePath, weixinLogoPath, 
    birthday, sex, provinceId, yaoqingUserId, weixinOpenId, remark
    from yyg_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, createBy, createById, createTime, deleteStatus, lastModifyBy, lastModifyById, 
    lastModifyTime, version, accountBalance, address, areaId, cardNo, cityId, email, 
    headPhotoPath, mobile, nickName, password, qq, seqNo, trueName, userName, userType, 
    innerUser, expirDate, recommend, vipLevel, weixin, weixinCodePath, weixinLogoPath, 
    birthday, sex, provinceId, yaoqingUserId, weixinOpenId, remark
    from yyg_user
  </select>
</mapper>